@layer base {
  html,
  body {
    @apply w-full h-full;
    scroll-behavior: smooth;
  }

  html {
    ::-webkit-scrollbar {
      @apply bg-neutral-3;
      width: 6px;
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      @apply rounded-10;
    }

    ::-webkit-scrollbar-thumb {
      @apply rounded-10 bg-neutral-5 transition-all hover:bg-neutral-6;
    }
  }
}
